/*
	
		file: css/application.css
*/

$calluna: "calluna-1", "calluna-2";
$calluna-sans: "calluna-sans-1", "calluna-sans-2";
$lato: "Lato";

$primary: rgb(102, 232, 152);

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

@import "gyaku";

/*
	= Appendix
		I. Media Queries
		II.
*/

/*
	I. Media Queries
*/

@media handheld, only screen and (max-width: 767px) { /* Handheld devices. */

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) { /* iPhone 4 */

}

/*
	II. 
*/

body {
	font: 300 15px/1.75em $calluna, serif;
}

h1 {
	text-transform: uppercase;
}

h2 {
	font-family: $lato;
	font-size: 1.5em;
	font-weight: 400;
}

aside#left, section#right {
	border-top: 10px solid $primary;
	padding-top: 3em;
}

#contain {
	margin: 2em auto 4em;
}


/*
	III. Left Aside
*/

aside#left {
	nav {
		font-family: $lato;
		font-size: 0.92em;
	}
}


/*
	IV. Right Main
*/

section#right {
	
}